* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  color: #fff;
}

body {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 10px;
  background-color: #000;
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #272c37;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  ::-webkit-scrollbar-track {
    background-color: #000000;
  }
}
